@model IEnumerable<UsedPassword>
@using Matterix.Services

@if (!Model.Any())
{
    <hr/>
    <div class="text-center">Ops! No Passwords ..</div>
}
else
{
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Place Created</th>
            <th>Password</th>
        </tr>
        </thead>
        @{ var i = 1;}
        @foreach (var password in Model)
        {
            <tr>
                <td>@i</td>
                <td>@Format.DateFormat(password.DateCreated) - @Format.TimeFormat(password.DateCreated)</td>
                <td>@password.PlaceCreated</td>
                <td>@password.Password</td>
            </tr>
            i++;
        }
        
        
        
    </table>
}

